body{
    background: #f3f6f7;
}

.container-my {
    max-width: 1400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;  
}

.left-bar{
    height: 300px;
    position: sticky;
    top: 110px;
}

.left-bar-name{
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    margin-left: 5px;
}

.left-bar-icon{
    color: #666;
    font-size: 18px;
}

.left-bar-link{ 
    color: #222;
    text-decoration: none!important;
}

.left-bar-link:hover{ 
    background: rgba(0,154,97,0.08);
    color: #666;
    text-decoration: none;
}

.nav-item:hover{
    background: rgba(0,154,97,0.08);
    color: #666;
    text-decoration: none;
}

.rigth-bar-item{
    background: #fff;
}

.vote{
    color: #98afbc !important;
    cursor: pointer;
}

.title{
    color: #2d2d2d;
}
.title:hover{
    color: #2d2d2d;
}

.login-icon{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    text-align: center;
    white-space: nowrap;
    /* background-color: #e9ecef; */
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    /* border-radius: .25rem;*/
}

.login-input{
    border-left: 0;
    border-radius:0;
}

.main-bar{
    top: 30px;
}

.right-first{
    top: 30px;
    position: relative;
}

.right-second{
    height: 300px;
    position: sticky;
    top: 85px;
}

.post{
    background: #fff;
}

.logo{
    width: 250px;
}

.avatar{
    object-fit: cover;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.avatar-mini{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bonus{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.link-cabinet{
    color: #000;
}